/node_modules

.env.local
.env.development.local
.env.test.local
.env.production.local
.env.development
.env.test
.env.production

.next
.env

./build
./dist
./coverage
./public/build
./public/coverage
./public/dist

.DS_Store